@import '../../styles/settings.scss';

.cardForm {
    display: flex;
    justify-content: center;
}


@media (max-width: 425px) {    
    .cardForm {
        flex-direction: column;
        align-items: center;
    }
}