@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

button {
    border: none;
    background-color: $color-light;
}

.favorite {
    span {
        color: $color-warning;
    }
}

.remove:hover {
    span {
        color: $color-warning;
    }
}